@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    background-color: #141D11;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    background-color: #1c2918;
    border-bottom: tomato;
    border-width: 1px;
    border-style: solid;
}

.five {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: rgb(92, 30, 30);
    margin-right: 10px;
}

.logo {
    height: 80px;
    width: 200px;
    align-self:center;
    border-color: tomato;
    border-width: 1px;
    border-style: solid;
}

.button {
    font-family: 'Quicksand', sans-serif;
    color: rgba(253, 226, 204, 0.932);
    font-size: 18px;
    background-color: #141D11;
    margin-right: 2px;
    margin-left: 2px;
    padding: 6px 16px;
    border-width: 2px;
    border-color: tomato;
    border-radius: 5%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: tomato;
    color: honeydew;
}

img {
    width: 85rem;
    height: 33rem;
}

.container {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    bottom: 0;
    right:0;
    padding-bottom: 50px;
}

.rest {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border-color: rgb(170, 51, 29);
    border-style: solid;
    padding: 10px;
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
}

.first {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    border-color: rgb(170, 29, 36);
    border-style: solid;
    padding: 10px;
    margin: 19px;
    background-color: rgb(56, 48, 20);
    justify-content: space-between;
}

.text {
    color: rgb(252, 238, 176);
    font-size: 20px;
    background-color: rgb(56, 48, 20);
    font-family: 'Quicksand', sans-serif;
}

.text1 {
    color: rgb(103, 233, 86);
    font-size: 20px;
    background-color: rgb(56, 48, 20);
    font-family: 'Quicksand', sans-serif;
}

.last {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    align-self:center;
    color: rgb(191, 195, 216);
    margin-top: 29px;
}

.this {
    align-self: center;
    display: flex;
    flex-direction: column;
}

h3 {
    color:#77c023;
    font-size: 30px;

}