@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.full {
    display: flex;
    flex-direction: column;
    background-color: #01173e;
    height: 170vh;
    background-image: linear-gradient(180deg, #01173e 0%, #4a0135 100%);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    background-color: initial;
        border-bottom-width:2px;
    border-bottom-style:solid;
    border-bottom-color: #011c4a;

}

.logo {
    height:80px;
    width: 250px;
    align-self:center;
}
.five {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: initial;
    margin-right: 10px;
}

.button {
    font-family: 'Quicksand', sans-serif;
    color: rgba(253, 226, 204, 0.932);
    font-size: 15px;
    background-color: inherit;
    margin-right: 2px;
    margin-left: 2px;
    padding: 3px 16px;
    border-width: 2px;
    border-color: #b76f13;
    border-radius: 5%;
    border-style:solid;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #01082d;
    color: #f54949;
}
.rest {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    padding: 5px;
    background-color: initial;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: row;

}

.lefts {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 2%;

}

.right {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: initial;
    height:470px; 
    overflow: auto;
    padding:20px;
    margin:10px;
    border-style:solid;
    border-width:2px;
    border-color: rgb(183 111 19);
    border-radius: 4px;
}

.rights {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: initial;
    height:470px; 
    overflow: auto;
}

.up {
    display: flex;
    flex-direction: column;
    background-color: initial;
}

.some {
    display: flex;
    flex-direction: column;
    margin-top:50px;
    padding: 10px;
    margin-top: 35px;
    background-color: initial;
}

.it {

    align-self: center;
    padding: 15px;
    background-color: initial;
}

.down {
display: flex;
flex-direction: row;
justify-content:space-around;
background-color: initial;
margin-top: 20px;
}

.here {
    font-family: 'Quicksand', sans-serif;
    border-bottom-color: rgb(192, 128, 67);
    border-bottom-width: 1px;
    border-bottom-style:dashed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    color: rgb(252, 238, 176);
    background-color: initial;
}

.pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: initial;
}

.there {
    font-family: 'Quicksand', sans-serif;
    color:rgb(215, 241, 169);
    background-color: initial;
    font-size: 20px;
}

h2 {
    color:#77c023;
    font-size: 28px;
    font-family: 'EB Garamond', serif;
    background-color: initial;
}

.hh {
    color:#77c023;
    font-size: 28px;
    align-self: center;
    background-color: initial;
    font-family: 'EB Garamond', serif;
}

h5 {
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    color:#c4ec96;
    font-size: 20px;
    background-color: inherit;
}

.h4 {
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    color:#ecbd96;
    font-size: 16px;
    background-color: rgb(2, 26, 21);
}

.oranges {
    background-color: inherit;
}

.keep {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: initial;
}

.buttoned {
    font-family: 'Quicksand', sans-serif;
    color: rgba(253, 226, 204, 0.932);
    font-size: 16px;
    background-color: rgb(30, 122, 18);
    padding: 4px 25px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(30, 122, 18);
    transition-duration: 0.3s;
    cursor: pointer;
    align-self: center;
}

.buttoned:hover {
    background-color: rgb(184, 37, 0);
    color: honeydew;
    border-color: rgb(184, 37, 0);
}

.img1 {
padding:2px;
background-color: initial;
border-radius:15px;
}

.bg {
    background-color: initial;
    color: rgb(235, 155, 50);
    font-size: 20px;
    border-style: solid;
     border-color: rgb(151, 124, 3);
    border-width: 1px;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    width:250px;
}

#customers {
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:15px;
    color:#e8e0be;
    background-color: inherit;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(151, 124, 3);
    padding: 5px;
  }
  
  #customers tr {
    background-color: inherit;
    }
  
  #customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: inherit;
    color: #f5a838;
    
  }

  .extra {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .btn {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(8 70 45);
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin:15px;
}


.btn:hover {
    background-color: rgb(215 112 29);
    color: honeydew;
}

a {
  text-decoration: none;
  background-color: inherit;
  color: white;
}

a:hover {
  color: #ffffff;
}