@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    background-color: #141D11;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    background-color: #1c2918;
    border-bottom: tomato;
    border-width: 1px;
    border-style: solid;
}

.five {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: rgb(92, 30, 30);
    margin-right: 10px;
}

.logo {
    height: 80px;
    width: 200px;
    align-self:center;
    border-color: tomato;
    border-width: 1px;
    border-style: solid;
}

.button {
    font-family: 'Quicksand', sans-serif;
    color: rgba(253, 226, 204, 0.932);
    font-size: 18px;
    background-color: #141D11;
    margin-right: 2px;
    margin-left: 2px;
    padding: 6px 16px;
    border-width: 2px;
    border-color: tomato;
    border-radius: 5%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: tomato;
    color: honeydew;
}

a {
    font-size: 19px;
    color: rgb(240, 145, 128);
}

.rest {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content:space-between;
    padding: 20px;
    margin: 5%;
}

.left {
    display: flex;
    flex-direction: column;
    border-style:solid;
    border-color:tomato;
    border-width:1px;
}

.up {
    display: flex;
    flex-direction: column;
}

.down {
display: flex;
flex-direction: row;
}