@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    background-color: #141D11;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    background-image: linear-gradient(to bottom right, rgb(5, 61, 38) , rgb(6,8,9));
    border-style: solid;
}

.logo {
    height: 70px;
    width: 180px;
    align-self:center;
}

.five {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: rgb(92, 30, 30);
    margin-right: 10px;
}

.button {
    font-family: 'Quicksand', sans-serif;
    color: rgba(253, 226, 204, 0.932);
    font-size: 16px;
    background-color: #141D11;
    margin-right: 2px;
    margin-left: 2px;
    padding: 4px 16px;
    border-width: 2px;
    border-color: rgb(151, 124, 3);
    border-radius: 5%;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(119, 98, 2);
    color: honeydew;
}

a {
    font-size: 19px;
    color: rgb(240, 145, 128);
}

.rest {
    display: flex;
    flex-direction: column;
}

.rest1 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: rgb(187, 243, 224);
    padding: 10px;
    margin-top: 1%;
    justify-content: space-between;
}

.first {
    display: flex;
    flex-direction: column;
    border-color: rgb(151, 124, 3);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    flex:1;
    background-color: #1a2918;
}

img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.imgs {
    align-self: center;
}

.text {
    color: rgb(208, 255, 190);
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    background-color: #1a2918;
}

.this {
    align-self: center;
    display: flex;
    flex-direction: column;
}

h3 {
    color:#77c023;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
}