{% extends 'base.html' %}
{% load static %}
{% block title %} CWM-TU SignUp {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock style %}

{% block rest %}
<div class="rest">
    <div class="this">
        <div class="cring">
            <h3 class="tiff">EDIT DETAILS</h3>
        </div>
        <div class="cring">
            <a href="/logwaste/profile"><button class="btn">Cancel</button></a>
        </div>

    </div>
    <div class="forms">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="inners">
                {% for form in fm %}
                <div class="double">
                    {{form.label_tag}} <div class="err"> {{form.errors|striptags}} </div> {{form}}
                </div>
                {% endfor %}
            </div>
            <div class="spray">
                <a href="{% url 'edit' %}"><input type="submit" class="btn" value="Update"></a>
            </div>
        </form>

    </div>>

</div>
{% endblock rest %}