{% extends 'base.html' %}
{% load static %}
{% block title %} CWM-TU Ewaste {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/ewaste.css' %}">
{% endblock style %}

{% block rest %}
<div class="rest">
    {% if request.user.is_superuser %}

    {% if messages %}
    {% for messages in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h2 class="begin">{% if messages.tags == 'info' %}Rejected{% else %}Picked{% endif %}</h2> {{messages}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="this">
        <h2>E-WASTE PICKUP REQUESTS</h2>
    </div>
    <div class="thiss">
        <table id="customers">
            {% csrf_token %}
            <th>Name</th>
            <th>Item</th>
            <th>Photo</th>
            <th>Description</th>
            <th>Requested On</th>
            <th>Address</th>
            <th>Action</th>
            {% for data in data %}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.item_name}}</td>
                <td><img src="/media/{{data.item_image}}/" class="less"></td>
                <td>{{data.item_description}}</td>
                <td>{{data.date}}</td>
                <td>{{data.address}}</td>
                <td>
                    <div class="rowy">
                        <a href="{% url 'delwaste' data.id %}"><button class="btns">Pickup</button></a>
                        <form action="{% url 'delwaste' data.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btns" value="Reject">
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <!-- if not superuser-->
    {% else %}

    {% if messages %}
    {% for messages in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h2 class="begin">Done</h2> {{messages}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="this">
        <h3 class="cnt">E-WASTE PICKUP REQUEST FORM</h3>
    </div>
    <div class="forms">
        <form action="" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="inners">
                {% for form in form %}
                <div class="double">
                    {{form.label_tag}} <div class="err"> {{form.errors|striptags}} </div> {{form}}
                </div>
                {% endfor %}
            </div>
            <div class="cntr">
                <input type="submit" class="btn" value="Request">
            </div>
        </form>

    </div>>
    {% endif %}

</div>
{% endblock rest %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
{% endblock script %}