{% extends 'base.html' %}
{% load static %}
{% block title %} CWM-TU Dumpyard {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock style %}

{% block rest %}
<div class="rest">
    <div class="left">
        <div class="up">
            <h2>Profile</h2>
            <div class="here">
                <div class="there">Name</div>
                <div>{{ew.full_name}}</div>
            </div>
            <div class="here">
                <div class="there">Email</div>
                <div>{{ew.email}}</div>
            </div>
            <div class="here">
                <div class="there">Mobile</div>
                <div>{{ew.mobile}}</div>
            </div>
            <div class="here">
                <div class="there">Address</div>
                <div>{{ew.address}}</div>
            </div>
        </div>
        <div class="down">
            <a href="{% url 'logout' %}"><button class="buttoned">Logout</button></a>
            <button class="buttoned">Edit</button>
            <button class="buttoned">Delete</button>
        </div>
    </div>
    <div class="left1">
        <div class="up">
            <h2>Bills</h2>
            <h2>Have you?</h2>
            <h2>or not</h2>
        </div>
    </div>

</div>

{% endblock rest %}